*.7z filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.h5seurat filter=lfs diff=lfs merge=lfs -text
*.h5ad filter=lfs diff=lfs merge=lfs -text

# Exclude iframe figures from HTML stats
iframe_figures/** linguist-generated=true
iframe_figures/** linguist-documentation=true
**/*.html linguist-detectable=false

# Exclude Jupyter Notebooks so R dominates stats
**/*.ipynb linguist-detectable=false
